{% extends 'Base/base.html' %}
{% load staticfiles %}

{% block title %} Principal {% endblock %}

{% block content %}
                <!-- page content -->
                <div class="right_col" role="main">
                    <div class="">

                        <div class="page-title">
                            <div class="title_left">
                                <h3>&nbspIndex MES</h3>
                            </div>
                            <ol class="breadcrumb" style="float: right;">
                                <li><a href="/conf/mes"><i class="fa fa-dashboard"></i> Index</a></li>              
                            </ol>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="">
                                    <div class="x_content">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
{% endblock content %}


